<?xml version="1.0"?>
<model>
 <name>ARR Tutorial Gazebo - Box</name>
 <version>0.1</version>
 <sdf version="1.5"box.sdf</sdf>
 <author>
  <name>Carlos Delfino</name>
  <email>consultoria@carlosdelfino.eti.br</email>
 </author>
 <description>
  Prática do tutorial do Gazebo, para criação dos modelos ARR, criado apenas um simples Box.
  http://gazebosim.org/tutorials?tut=model_contrib&cat=build_robot
 </description>
<model>
