<?xml version="1.0"?>
<model>
  <name>Line Follower Robot with Laser</name>
  <version>1.0</version>
  <sdf version='1.4'>robot.sdf</sdf>

  <author>
   <name>Carlos Delfino</name>
   <email>consultoria@carlosdelfino.eti.br</email>
  </author>

  <description>
	A Model for Line Follower Robot with a Laser Sensor
  </description>
  <depend>
   <model>
    <uri>model://pioneer2dx</uri>
   </model>
   <model>
    <uri>model://hokuyo</uri>
   </model>
  </depend>
</model>
