
<?xml version="1.0" ?>
<database>
  <name>Automação ARR Gazebo Models</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <last_modified>2018-12-14T11:19:54+0300</last_modified>

  <models>
   <uri>file://models/gazebo_tutorial_box</uri>
   <uri>file://models/line_fowller_robot</uri>
   <uri>file://models/line_fowller_robot_laser</uri>
  </models>
</database>
