<?xml version="1.0"?>

<model>
  <name>Simple Arm Gripper</name>
  <version>1.0</version>
  <sdf version='1.4'>simple_arm_gripper.sdf</sdf>
  <author>
    <name>Carlos Delfino</name>
    <email>consultoria@carlosdelfino.eti.br</email>
  </author>
  <description>
    A simple gripper for robot arm.
  </description>
</model>
